/* FONTS */
body {
	font-family: sans-serif;
}
h2.name {
	line-height: 0em;
	font-size: 16px;
	font-weight: bold;
}
.age {
	font-size: 12px;
	font-style: italic;
	display: block;
}
.category {
	font-size: 12px;
	font-style: normal;
	display: block;
}

/* CONTENT, SORTER, FILTER, GRID, BOXES */
.content {
	width: 740px;
}
.filter, .sorter {
	width: max-content;
	float: right;
	padding-left: 60px;
}
.sorter {
	padding: 6px;
}
form {
	float: left;
	width: 100%;
}
select {
	font-size: 14px;
}
fieldset {
	border: none;
}
.grid {
	float: left;
}
.box {
	display: inline;
	float: left;
	text-align: center;
	width: 200px;
	border: 2px solid #000000;
	padding: 10px;
	margin: 10px;
}
.priority1 {
	background-color: #FFEEAA; /* orange */
}
.priority2 {
	background-color: #CCEECC; /* green */
}
.priority3 {
	background-color: #CCEEFF; /* blue */
}
.priority4 {
	background-color: #EEDDFF; /* purple */
}
