/* FONTS */
body {
	font-family: sans-serif;
}
h2.name {
	line-height: 0em;
	font-size: 16px;
	font-weight: bold;
}
.age {
	font-size: 12px;
	font-style: italic;
	display: block;
}
.category {
	font-size: 12px;
	font-style: normal;
	display: block;
}

/* GRID, BOXES */
.grid {
	float: left;
	width: 800px;
}
.box {
	display: inline;
	float: left;
	text-align: center;
	width: 200px;
	border: 2px solid #000000;
	padding: 10px;
	margin: 10px;
}
.priority1 {
	background-color: orange;
}
.priority2 {
	background-color: green;
}
.priority3 {
	background-color: blue;
}
.priority4 {
	background-color: purple;
}
